/* navbar */
.navbar {
	border-radius: 0;
}

body {
	margin: 0;
	padding: 0 !important;
}

/* prompt-box */
.prompt-box {
	width: 300px;
	font-size: 18px;
	height: 80px;
	line-height: 80px;
	background-color: #f69743;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -150px;
	z-index: 9999;
	display: none;
}